body {
  background-color: slategray;
}

.post {
  margin: auto;
  width: 20px;
  height: 50px;
  background-color: black;
}

.light-block {
  margin: auto;
  padding-top: 15px;
  width: 100px;
  height: 300px;
  background-color: black;
}

.light {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 12.5px;
  background-color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.green:hover {
  box-shadow: 0px opx 20px 20px rgba(0, 255, 0, .5)
}